.custom-bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white !important; 
  display: flex;
  justify-content: center; 
  align-items: center;
  color: black; 
}

  .custom-bottom-navigation .MuiBottomNavigationAction-root {
    color: grey !important;
  }
  
  .custom-bottom-navigation .Mui-selected {
    background-color: transparent !important;
    color: grey !important;
  }

.dark-mode .custom-bottom-navigation {
  background-color: black !important; 
  color: white; 
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
}