/* Light Mode */
body {
  background-color: #f5f5f5;
  color: #333;
  /* line-height: 4.5; */
}

form{
  line-height: 4.5 !important;
}

.navbar {
  background-color: #fff;
  color: #333;
}

.button {
  background-color: #007bff;
  color: #fff;
}

/* Dark Mode */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

.navbar.dark-mode {
  background-color: #222;
  color: #fff;
}

.button.dark-mode {
  background-color: #fff;
  color: #222;
}
.app-container {
  position: relative;
  min-height: 100vh; /* Ensure the container covers the entire viewport height */
  margin-bottom: 56px; /* Adjust the margin value to match the height of your BottomNavigation */
}
/* Style for LabelBottomNavigation */
.LabelBottomNavigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff; /* Change the background color as needed */
  /* You can customize padding, colors, or other styles here */
  /* Example padding: 10px; */
}
