/* .Cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.Cards .card {
  background-color: white;
  box-shadow: 0 0 3px black;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.Cards a {
  color: black;
  text-decoration: none;
  display: inherit;
}

.Cards .card:hover {
  box-shadow: 0 0 15px;
}

.Cards .card:active {
  scale: 1.05;
}

.Cards header {
  font-weight: bold;
}

.Cards header,
.Cards footer {
  padding: 4px 8px;
}

.Cards img {
  width: 100%;
}

.card {
  max-width: 700px;
  margin: auto;
  background-color: white;
  padding: 1px 0px;
}

.card h3 {
  margin: 0;
  padding: 10px;
}

.card p {
  margin: 0;
  padding: 14px 10px;
}

.card-img {
  height: 250px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */


.Cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 110px;
}
.Cards header {
  text-align: center;
  padding: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0 30px;
}
.Cards header h1 {
  font-family: 'Pacifico', cursive !important;
  margin-bottom: 0;
  font-size: 48px;
}
.Cards .row {
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  display: flex;
  gap: 20px;
}
.Cards .column {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  overflow: hidden;
}
.Cards .column:hover {
  background-color: rgba(0, 0, 0, 0.93);
  color: white;
  scale: 1.03;
  transition: all 0.2s ease;
}
.Cards .column:hover h1 {
  color: white;
}
.Cards p {
  margin: 3px 6px;
}
.Cards svg:hover {
  scale: 1.1;
}
.Cards .trash-icon:hover path {
  color: darkgray;
}
.Cards .edit-icon:hover path {
  color: lightblue;
}
.Cards .phone-icon:hover path {
  color: green;
}
.Cards .heart-icon:hover path {
  color: red;
}
.Cards .addCard {
  position:fixed ;
  bottom: 100px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #1976d2;
  border-radius: 50%;
  border: none;
}
.Cards .addCard a {
  color: white;
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
}