.Cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.Cards .card {
  background-color: white;
  box-shadow: 0 0 3px black;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.Cards a {
  color: black;
  text-decoration: none;
  display: inherit;
}

.Cards .card:hover {
  box-shadow: 0 0 15px;
}

.Cards .card:active {
  scale: 1.05;
}

.Cards header {
  font-weight: bold;
}

.Cards header,
.Cards footer {
  padding: 4px 8px;
}

.Cards img {
  width: 100%;
}

.card {
  max-width: 700px;
  margin: auto;
  background-color: white;
  padding: 1px 0px;
}

.card h3 {
  margin: 0;
  padding: 10px;
}

.card p {
  margin: 0;
  padding: 14px 10px;
}

.card-img {
  height: 250px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
